<div class="row">
  <div class="panel panel-default">
		<div class="panel-heading center">
      <%= image_tag @pin.image.url(:medium) %>
		</div>
		<div class="panel-body center">
      <p><%= @pin.description %></p>
      <% if @pin.user == current_user %>
      	<%= link_to edit_pin_path(@pin) do %>
					<i class="fa fa-pencil-square-o"></i> Edit
				<% end %>
				<%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash-o"></i> Delete
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= link_to pins_path do %>
  <i class="fa fa-arrow-circle-o-left"></i> Back
<% end %>