<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <%= link_to root_path, class: "navbar-brand" do %>
          <i class="fa fa-heart-o"></i><i class="fa fa-moon-o"></i><i class="fa fa-paw"></i> LunaTickles
        <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to about_path do %>
              <i class="fa fa-question"></i><i class="fa fa-question"></i> About <i class="fa fa-question"></i><i class="fa fa-question"></i>
          <% end %>
        </li> 
        <% if user_signed_in? %>
          <li>
            <%= link_to new_pin_path do %>
              <i class="fa fa-diamond"></i> New Pic
            <% end %>
          </li>
          <li>
            <%= link_to edit_user_registration_path do %>
              <i class="fa fa-bar-chart"></i> Login Settings
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-rocket"></i> Bye Thomas!
            <% end %>
          </li> 
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>